body {
  margin: 0;
  padding: 0;
  background: url('https://media.gettyimages.com/vectors/blurred-gradient-background-for-template-brochure-flyer-comic-card-vector-id1155187621?s=2048x2048');
  background-attachment: fixed;
}
.bg-img{
  height: 80vh;
  width: 70vw;
  margin: 5rem auto;
  background: url('./assets/Img_1.png');
  background-size: cover;
  position: relative;
  overflow-x:hidden;

}
.road {
  
  height: 140px;
  width: 500%;
  background: url('./assets/Img_02.png');
  position: absolute;
  bottom: 0px;
  background-repeat: repeat-x;

}
.car{
  position: absolute;
  bottom: 8%;
  left: 20%;
  
}



